@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@layer components {
  .icon-button {
    @apply flex cursor-pointer items-center justify-center;
  }
}

/* ベースカラー */
.theme-light {
  --bg-primary: #ffffff;
  --text-primary: #000000;
  --bg-secondary: #f5f5f5;
}

.theme-dark {
  --bg-primary: #121212;
  --text-primary: #ffffff;
  --bg-secondary: #1f1f1f;
}

/* カラーテーマ */
.theme-panel--blue {
  background-color: #1e3a8a;
}
.theme-panel--red {
  background-color: #991b1b;
}
