HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Kotlin ###
.kotlin

### Environment Variables ###
application-local.yml
application-local.properties

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Firebase credentials (DO NOT COMMIT)
firebase-service-account.json
*-firebase-adminsdk-*.json
firebase-key.json
