<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}"
  lang="ja"
>
  <head>
    <title>トップ - GrandMarket</title>
  </head>
  <body>
    <div layout:fragment="content">
      
      <div class="mt-2 mb-10">
        <h2 class="text-lg font-bold mb-3 text-gray-800 px-1">注目の農家さん 👩‍🌾</h2>
        <div class="flex overflow-x-auto space-x-4 pb-4 px-1 no-scrollbar">
          <div class="flex-none w-28 group cursor-pointer"> <div class="w-28 h-28 rounded-full overflow-hidden border-2 border-green-500 shadow-md transition-transform group-hover:scale-105">
              <img src="/images/tomato.jpg" class="w-full h-full object-cover">
            </div>
            <p class="text-center text-xs font-bold mt-2 text-gray-700 group-hover:text-green-600">田中農園</p>
          </div>
          <div class="flex-none w-28 group cursor-pointer">
            <div class="w-28 h-28 rounded-full overflow-hidden border-2 border-gray-200 shadow-md transition-transform group-hover:scale-105">
              <img src="/images/negi.jpg" class="w-full h-full object-cover">
            </div>
            <p class="text-center text-xs font-bold mt-2 text-gray-700 group-hover:text-green-600">サトウさん</p>
          </div>
          <div class="flex-none w-28 group cursor-pointer">
            <div class="w-28 h-28 rounded-full overflow-hidden border-2 border-gray-200 shadow-md transition-transform group-hover:scale-105">
              <img src="/images/kyuri.jpg" class="w-full h-full object-cover">
            </div>
            <p class="text-center text-xs font-bold mt-2 text-gray-700 group-hover:text-green-600">鈴木さんち</p>
          </div>
          <div class="flex-none w-28 group cursor-pointer">
            <div class="w-28 h-28 rounded-full overflow-hidden border-2 border-gray-200 shadow-md transition-transform group-hover:scale-105">
              <img src="/images/remon.webp" class="w-full h-full object-cover">
            </div>
            <p class="text-center text-xs font-bold mt-2 text-gray-700 group-hover:text-green-600">瀬戸内ライフ</p>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="flex justify-between items-end mb-4 px-1">
          <h2 class="text-xl font-bold text-gray-800">本日のおすすめ 🍅</h2>
          <a href="#" class="text-xs text-green-600 font-bold hover:underline">すべて見る ></a>
        </div>

        <div id="item-list" class="grid grid-cols-2 gap-3 md:gap-6 md:grid-cols-3 lg:grid-cols-4">
          
          <div class="animate-pulse bg-gray-200 h-60 rounded-xl"></div>
          <div class="animate-pulse bg-gray-200 h-60 rounded-xl"></div>
          <div class="animate-pulse bg-gray-200 h-60 rounded-xl"></div>
          <div class="animate-pulse bg-gray-200 h-60 rounded-xl"></div>
          
        </div>
      </div>

    </div>
  </body>
</html>